name: Lint

on:
  pull_request:
    types: [opened, synchronize, reopened]

jobs:
  lint:
    runs-on: self-hosted
    steps:
    - uses: actions/checkout@v3
    - name: Run black
      env:
        PYTHONPATH: /workspace-SR004.nfs2/d.tarasov/transformers_adaptive_fan_in_fan_out/src:./src
        HF_HOME: /workspace-SR004.nfs2/.cache/huggingface
      run: |
        /home/jovyan/.mlspace/envs/sentence_attention/bin/python -m black --check .
    - name: Run ruff
      env:
        PYTHONPATH: /workspace-SR004.nfs2/d.tarasov/transformers_adaptive_fan_in_fan_out/src:./src
        HF_HOME: /workspace-SR004.nfs2/.cache/huggingface
      run: |
        /home/jovyan/.mlspace/envs/sentence_attention/bin/python -m ruff check .
